body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px  100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  border: 5px solid white;
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-column: 1/11;
  grid-row: 1/2; 
}

.sidebar {
  background-color: #FF7755;
  grid-column: 1/4;
  grid-row: 2/7;
}

.nav {
  background-color: #00DDFF;
  grid-column: 4/11;
  grid-row: 2/3;
}

.article {
  background-color: #bccbde;
  grid-column: 4/11;
  grid-row: 3/7;
}

.article p {
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/11;
  grid-row: 7

}
